body    {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-align: center;

}
button  {
    color: blue;
    border-color: black;
    text-decoration: wavy;

}
nav{
    text-align: left;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
    font-size: 30px;
}   